<html lang="en">
<head>

    <title>404 Page Not Found</title>
    <link rel="shortcut icon"
          href="https://toppng.com/uploads/preview/hone-call-contact-dial-communication-svg-png-contact-and-message-ico-11562987828bgjxqwuk8j.png"
          type="image/x-icon"/>
</head>
<body>
<style type='text/css'>
    span.bold-red {
        color: red;
        font-weight: bold;
    }

    span.bold-blue {
        color: blue;
        font-weight: bold;
    }
</style>
<h1><span class='bold-red'>Something Error</span></h1>
<br>
<h2><span class='bold-blue'>TransactionID = {{ . }} </span></h2>
</body>
</html>
